body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: beige;
}
p{
    color: rgb(225, 210, 148);
}
li{
    color: rgb(141, 175, 141);
}
h3{
    color: rgba(228, 170, 170, 0.716);
}
img{
    border-radius: 50%;
}
a{
    color: rgb(255, 255, 255);
}