body{
    background-color: rgba(6, 111, 111, 0.492);
}
h3{
color: rgb(52, 6, 6);
background-color: brown;
border-radius: 50px;
border: rgb(0, 0, 0) 2px solid;
padding: 8px;
text-align: center; 
margin: auto;
width: fit-content;
display: flex;
align-items: center;
justify-content: center;
}
h2{
color: rgb(52, 6, 6);
background-color: brown;
border-radius: 50px;
border: rgb(0, 0, 0) 2px solid;
padding: 8px;
text-align: center; 
margin: auto;
width: fit-content;
display: flex;
align-items: center;
justify-content: center;
}
a{
    color: black;
}
img{
    border-radius: 50%;
}