h2{
    background-color: rgb(160, 13, 160);
    color: rgb(236, 224, 55);
}
p{
    color: blue;
}
button{
    background-color:blueviolet;
    color: crimson;
}
button:hover{
    background-color: black;
    color: white;
}